node_modules
.DS_Store
.out
.next
storybook-static
apps/www/.next/cache
dist
*.log
.turbo
*.tsbuildinfo
next-env.d.ts

.vercel
apps/demo/data/

# Environment variables
.env
.env.local
.env*.local
*.env
