@import "@fragment_ui/tokens/dist/tokens.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #ffffff;
    --foreground-primary: #0a0a0a;
    --foreground-secondary: #71717a;
  }

  [data-theme="dark"] {
    --background-primary: #0a0a0a;
    --foreground-primary: #ededf0;
    --foreground-secondary: #a1a1aa;
  }
}

body {
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

